@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato);
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.iconset {
  height: 100vh;
  display: block;
  background-image: url("../images/walking.jpg");
  background-size: cover;
  text-align: center;
}

.icon-shoe-01, .icon-glasses-01 {
  color: #000000;
  font-size: 10em;
}

.icon-shoe-01:hover, .icon-glasses-01:hover {
  color: #aaaaaa;
  font-size: 12em;
}

.title {
  color: #aaaaaa;
  text-transform: uppercase;
  font-size: 3em;
  font-family: "Lato", sans-serif;
}
